In [35]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import accuracy_score,confusion_matrix

In [36]:
df=pd.read_csv(r'C:\Users\BE.IT302-6\Downloads\FIRE.csv')

In [37]:
df.head()

    T    S  O
0  21  150  0
1  19  134  0
2  17  150  0
3  30  142  0
4  26  134  0

In [38]:
df.tail()

      T    S  O
195  92  462  1
196  91  493  1
197  24  126  0
198  26  156  0
199  27  167  0

In [39]:
df.shape

(200, 3)

In [40]:
x=df.iloc[:,0:-1]
y=(df.iloc[:,-1])

In [41]:
x

      T    S
0    21  150
1    19  134
2    17  150
3    30  142
4    26  134
..   ..  ...
195  92  462
196  91  493
197  24  126
198  26  156
199  27  167

[200 rows x 2 columns]

In [42]:
y

0      0
1      0
2      0
3      0
4      0
      ..
195    1
196    1
197    0
198    0
199    0
Name: O, Length: 200, dtype: int64

In [44]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [45]:
#np.shape(x_train)[0]
np.shape(y_train)[0]

140

In [47]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion='gini')
classifier.fit(x_train,y_train)

DecisionTreeClassifier()

In [48]:
classifier.score(x_test,y_test)

0.85

In [49]:
y_predict=classifier.predict(x_test)

In [50]:
accuracy_score(y_test,y_predict)*100

85.0

In [51]:
confusion_matrix(y_test,y_predict)

array([[40,  5],
       [ 4, 11]], dtype=int64)

In [69]:
fire=[80,400]

In [70]:
fire=np.array([fire])

In [71]:
fire

array([[ 80, 400]])

In [72]:
pred=classifier.predict(fire)

C:\Users\BE.IT302-6\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [73]:
if pred[0]==0:
    print("no fire")
else:
    print("fire")

fire